@import "mocha.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: rgb(30, 30, 46);
  color: @text;
  margin: 5px 5px;
	border-radius: 26px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#clock{
  background-color: @surface0;
  padding: 0px 15px;
  margin: 5px 10px;
  border-radius: 15px;
}

#tray,
#battery,
#backlight,
#wireplumber{
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#tray{
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#wireplumber {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}
